* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, Times New Roman, Times, serif;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  color: white;
}

.trybewarts-login {
  display: flex;
  margin: 20px;
}

.trybewarts-header-logo {
  width: 70px;
  padding: 10px;
}

#email , #password {
  border-radius: 8px;
  padding: 8px;
  margin-right: 8px;
  border: none;
  width: 150px;
}

.trybewarts-login button {
  width: 150px;
  border-radius: 8px;
  border: none;
  background-color: rgb(78, 43, 131);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgb(101, 67, 152);
}

main {
  display: flex;
  background-color: rgb(239, 239, 239);
}

.emailcasa input {
  border-radius: 8px;
  padding: 8px;
  margin-right: 2px;
  border: none;
  width: 60%;
  margin-bottom: 10px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 70px;
}

#evaluation-form h1 {
  margin-bottom: 30px;
  font-size: 1.5em;
  align-self: center;
}

.sectionfamiliaconteudo {
  margin: 15px 0;
  display: flex;
}

.sectionfamiliaconteudo label , .sectionfamiliaconteudo input {
  margin-top: 10px;
}

#evaluation-form .nomecompleto input {
  border-radius: 8px;
  padding: 8px;
  margin-right: 2px;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}

.emailcasa label {
  align-self: center;
}

.emailcasa select {
  border-radius: 8px;
  padding: 8px;
  margin-left: 5px;
  border: none;
  width: 50%;
  margin-bottom: 10px;
  background-color: white;
}

.familia {
  margin-right: 50px;
  width: 200px;
}

.conteudo label {
  margin-right: 10px;
}

#trybewarts-forms-logo {
  height: 500px;
  padding: 80px;
  margin-left: 80px;
}

.nomecompleto {
  display: flex;
}

.emailcasa {
  display: flex;
}

.familia div {
  display: flex;
}

.conteudo div {
  display: flex;
  flex-wrap: wrap;
  width: 62%;
}

.avaliacao {
  margin: 15px 0;
}

#textarea {
  resize: none;
  width: 100%;
  border: 1px solid rgb(101, 67, 152);
  border-radius: 8px;
}

#counter {
  display: block;
  margin-bottom: 20px 0;
}

#submit-btn {
  background-color: rgb(101, 67, 152);
  color: white;
  border-radius: 3px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  border: none;
}

#submit-btn:disabled {
  background-color: rgb(171, 143, 213);
  cursor: auto;
}

footer {
  background-color: rgb(60, 64, 73);
  color: white;
  text-align: center;
  padding: 10px;
}

.formNovo {
  background-image: url('./images/pergaminho.png');
  background-size: 500px 650px;
  border-radius: 10px;
  margin: 45px auto;
  height: 650px;
  max-width: 480px;
}

#resultado {
  text-align: center;
  font-family: Courier New, Courier, monospace;
  font-style: italic;
  color: rgb(19, 19, 19);
  word-wrap: break-word;
  margin-left: 20px;
}
