body {
  text-align: center;
  background-color: hotpink;
}

h1 , p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#text-input {
  margin-left: 90px;
}

#meme-text {
  position: absolute;
  top: 120px;
  left: 30px;
  font-size: 30px;
  text-shadow: 5px 5px 5px black;
  color: white;
  margin-left: 512px;
  width: 270px;
  height: 220px;
  overflow: hidden;
}

#meme-image-container {
  background-color: white;
  display: flex;
  margin-left: 520px;
}

button {
  border: none;
  cursor: pointer;
  color: white;
  padding: 8px;
  width: 60px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.black {
  border: 1px solid black;
  width: 300px;
}

.fire {
  border: 3px dashed red;
  width: 300px;
}

.water {
  border: 5px double blue;
  width: 300px;
}

.earth {
  border: 6px groove green;
  width: 300px;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

.memes {
  width: 150px;
  height: 150px;
}

.memes-definidos {
  background-color: white;
  border-radius: 10px;
  width: 720px;
  margin-left: 23%;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0 , 0 , 0 , 0.384);
}
