* {
  text-align: center;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10%;
}

#reset-game {
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.ball {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
}

footer {
  margin-top: 10px;
}
