body {
  background-color: rgb(249 , 190 , 7);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: rgb(26 , 26 , 24);
  text-align: center;
  font-size: x-large;
}

main {
  text-align: center;
  font-size: large;
}

footer {
  text-align: center;
}

ol {
  display: flex;
  flex-direction: column;
  text-align: start;
}

li {
  width: 40%;
  align-self: center;
  color: rgb(26 , 26 , 24);
  font-size: x-large;
}

.selected {
  background-color: gray;
  border-radius: 4px;
}

.completed {
  text-decoration: line-through solid black;
}

input {
  width: 30%;
  height: 25px;
}

#apaga-tudo {
  border: none;
  width: 80px;
  height: 25px;
  background-color: rgb(255 , 62 , 62);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#salvar-tarefas {
  border: none;
  width: 80px;
  height: 25px;
  background-color: rgb(2 , 255 , 36);
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

button {
  border: none;
  width: 12%;
  height: 25px;
  background-color: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

#criar-tarefa {
  height: 30px;
}
