body {
  background-image: url('./images/background.png');
  color: white;
  font-family: Arial , Helvetica , sans-serif;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 20px;
  text-align: center;
}

.header h1 {
  font-size: 250%;
}

.planets {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.planets h2 {
  background-color: rgba(0, 0, 0, 0.637);
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 90%;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card-list p {
  text-align: center;
}

.card {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.637);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.card img {
  width: 180px;
}

.missions {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.missions h2 {
  background-color: rgba(0, 0, 0, 0.637);
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 90%;
}

.mission-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.mission-card {
  background-color: rgba(0, 0, 0, 0.637);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.mission-card-name {
  font-weight: 700;
}

footer {
  margin-top: 20px;
  text-align: center;
}
