span {
  margin: 2px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skew(10deg);
}

.skewright {
  transform: skew(-10deg);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(171, 105, 224);
  text-align: center;
  margin-top: 10%;
}

h1 {
  color: white;
}

div input {
  width: 300px;
  height: 30px;
}

div button {
  width: 100px;
  height: 35px;
  border: none;
  color: white;
  background-color: purple;
  cursor: pointer;
}

#result {
  margin-top: 40px;
}

#carta-contador {
  color: white;
}

footer {
  color: white;
}
